.nav {
  @apply w-screen items-center bg-white;
}

.outerNavContainer {
  @apply max-w-screen-xl flex flex-wrap items-center justify-between mx-auto;
}

.navLogo {
  @apply flex px-3 items-center rtl:space-x-reverse;
}

.navLeftSide {
  @apply flex items-center float-left;
}

.navInnerLeft {
  @apply flex items-center rtl:space-x-reverse;
}
.navRightUl {
  @apply flex items-center justify-between;
}

.navText {
  @apply text-2xl mr-2 py-8 shadow-md bg-gray-100 px-4 block rounded-lg text-black hover:bg-gray-200 hover:shadow-md;
}

.dropdownSpan {
  @apply text-2xl py-8 shadow-md w-fit px-8 block bg-gray-100 rounded-lg text-black hover:shadow-md;
  display: flex;
  flex-direction: row;
}

.dropdownSpan:hover {
  @apply bg-gray-200;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  margin-left: 20px;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent a {
  @apply text-xl py-8 px-8 shadow-sm block rounded-lg text-black hover:bg-gray-200;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
