.heroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80vh;
  background: #f9f9f9;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
}

.intro {
  display: block;
  padding: 10px;
  @apply text-2xl;
}

.heroHeading {
  display: block;
  padding: 10px;
  @apply text-4xl;
}
.fullStack {
  display: block;
  padding: 10px;
}

.thisSitePara {
  display: block;
  padding: 10px;
  @apply text-2xl;
}

.heroImage {
  display: block;
  padding: 10px;
}
