.heroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60vh;
  background: #f9f9f9;
}

.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  padding: 10px;
  width: 100%;
  margin: 10px;
  height: 55vh;
}

.intro {
  display: block;
  padding: 10px;
  @apply text-2xl;
}

.heroHeading {
  display: block;
  padding: 10px;
  padding-bottom: 30px;
  @apply text-6xl;
}
.fullStack {
  display: block;
  padding: 10px;
}

.thisSitePara {
  display: block;
  padding: 10px;
  padding-top: 5vh;
  @apply text-2xl;
}

.heroImage {
  display: block;
  padding: 10px;
  size: fluid;
  height: 60vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-top: 10vh;
}
